.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-rows {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20rem;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  height: 50vh;
  width: 500px;
  border-radius: 1rem;
  border: 1px solid #5333ff;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.3);
}

.login-header {
  text-align: center;
  margin: 0;
  font-weight: 200;
  color: #5333ff;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
}

.login-input {
  border: none;
  border-bottom: 1px solid #5333ff;
  margin: 0rem;
  height: 3rem;
  width: 70%;
  transition: all 0.1s;
}

.login-input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #2600ff;
}

.btn-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.btn-primary {
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: #5333ff;
  border-radius: 1rem;
  color: white;
  transition: all 0.25s;
  text-decoration: none;
}
.btn-primary:hover {
  background-color: #2600ff;
}
.btn-primary:focus {
  outline: none;
}

.btn-primary-outline {
  cursor: pointer;
  text-decoration: none;
  padding: 1rem 2rem;
  border: 1px solid #5333ff;
  border-radius: 1rem;
  color: #5333ff;
  transition: all 0.25s;
}
.btn-primary-outline:hover {
  border: 1px solid #2600ff;
  color: #2600ff;
}
.btn-primary-outline:focus {
  outline: none;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #5333ff;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.form-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

.form-row .login-input:first-child {
  margin-right: 1rem;
}
