.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5rem;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
}

.nav-logo {
  display: inline-flex;
}

.nav-list {
  display: inline-flex;
  list-style: none;
  margin: 0;
  float: right;
}

.nav-list-item {
  transition: all 0.25s;
  padding: 0;
  background-color: #5333ff;
  border-radius: 1rem;
}

.nav-list-item:hover {
  background-color: #2600ff;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
}
